.edition_handband,
.projects,
.modal,
.modal_wrapper,
.modal_link {
    display: flex;
    align-items: center;
}

.edition_handband,
.projects,
.modal,
.modal_wrapper {
    justify-content: center;
}

.edition_handband {
    gap: 11px;
    background-color: var(--black);
    height: 59px;
    color: var(--white);
}

.fa-pen-to-square {
    width: 15.58px;
    height: 15.58px;
}

.handband_title {
    font-size: 16px;
}

.projects {
    gap: 31px;
    margin-bottom: 92px;
}

#portfolio .projects h2 {
    margin-bottom: 0;
}

.modal_link {
    gap: 10px;
    text-decoration: none;
    color: #000000;
}

.filters_hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}


.modal_wrapper {
    flex-direction: column;
    width: 630px;
    height: 688px;
    max-width: 100vw;
    max-height: 100vh;
    overflow: auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 60px 105px 45px;
    box-sizing: border-box;
    position: relative;
}

.modal_photos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 9px;
  row-gap: 29px;
  margin-top: 46px;
  padding-bottom: 67px;
  border-bottom: 1px solid #B3B3B3;
}

.modal_photos figure {
    width: calc((100% - 36px) / 5);
    height: 102.57px;
    position: relative;
}

.modal_photos img {
    height: 100%;
}

.modal_wrapper input[type="submit"] {
    margin-top: 38px;
    margin-bottom: 0;
    width: 237px;
    height: 36px;
    font-size: 14px;
    cursor: pointer;
}

#modal_title {
    font-size: 26px;
}

.fa-trash-can {
    font-size: 11px;
    background-color: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 3px 4px;
    position: absolute;
    top: 6px;
    right: 5px;
    cursor: pointer;
}

.fa-xmark {
    font-size: 12.01px;
    width: 12.01px;
    text-align: center;
    position: absolute;
    top: 32px;
    right: 36px;
    cursor: pointer;
}