/*------------Importations des styles de la page de connexion et du mode édition------------*/

@import url(login.css);
@import url(accueil_mode_edition.css);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html {
	background-color: #FFFEF8;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

.head-container,
.main-container {
	max-width: 1140px;
	margin: auto;
}
.head-container {
	margin-top: 50px;
	margin-bottom: 139px;
	display: flex;
  	align-items: center;
}
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 22px;
	font-size: 16px;
}
.instagram-logo {
	width: 22px;
	height: 22px;
	display: flex;
  	align-items: center;
	padding-right: unset;
}
.instagram-logo img {
	width: 19.35px;
	height: 19.35px;
	margin-top: 1.5px;
}
li:hover {
	color: #B1663C;
	cursor:pointer;
}
#introduction {
	display: flex;
	align-items: center;
	gap: 72px;
}
#introduction figure {
	width: 474px;
  	height: 355px;
	margin-left: 95px;
}
#introduction img {
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
}
#introduction article {
	flex: 1;
	margin-right: 95px;
}
#introduction h2 {
	margin-bottom: 19px;
}
#introduction p {
	margin-bottom: 22px;
	color: #3D3D3D;
}
#portfolio {
  margin-top: 139px;
  margin-bottom: 57px;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 51px;
}

/*Ajout styles des filtres*/
.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 51px;
}
.filters button,
input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}
.filters button {
	height: 37px;
	font-size: 16px;
	color: #1D6154;
	border: solid 1px #1D6154;
	background-color: unset;
	padding: 8px 20px;
}
.filters .button-selected {
	color: #FFFFFF;
	background-color: #1D6154;
}
.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 18px;
	grid-row-gap: 16px;
}
.gallery img {
	width: 100%;
}
figcaption {
	font-size: 13px;
	color: #3D3D3D;
	margin-top: 7px;
}
#contact,
#contact form {
	display: flex;
	flex-direction: column;
}
#contact {
	width: 50%;
	margin: auto;
	align-items: center;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 10px;
}
#contact p {
	font-size: 16px;
  	color: #3D3D3D;
}
#contact form {
	text-align: left;
	width: 83%;
}
#contact #name,
#contact #email {
	height: 51px;
}
#contact input {
	height: 36px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: unset;
	font-size: 14px;
}
#contact label {
	margin: 38px 0 7px 0;
	color: #3D3D3D;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 174px;
  	padding: unset;
}
input[type="submit"]{
	color: #FFFFFF;
	background-color: #1D6154;
	margin: 40px auto 45px;
	width: 179px;
}
#contact input[type="submit"] {
	box-shadow: none;
}
footer {
	background-color: #FFFFFF;
	padding: 21.6px 0;
  	margin-top: 11.4px;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
}
footer nav li {
	margin-right: 107px;
	padding: 0;
	font-size: 14px;
}